<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EssenseOfArganEntities" connectionString="metadata=res://*/ArganEssenseModel.csdl|res://*/ArganEssenseModel.ssdl|res://*/ArganEssenseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=EssenseOfArgan;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>