
@{
    ViewBag.Title = "ShipmentDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Shipment  Details</h2>
<textarea style="height:500px; width: 90%; max-width:90%;">

@TempData["jsonresult"]
</textarea>



